

{% extends 'website/base.html' %}
{% load static %}
{% block content %} 
      <!-- Main Content -->
      <div id="main" class="site-main">
        <!-- Page changer wrapper -->
        <div class="pt-wrapper">
          <!-- Subpages -->
          <div class="subpages">

            <!-- Home Subpage -->
              <section  class="pt-page" data-id="home"  style="display: {% if section == 'home' %}block{% else %}none{% endif %};">
              <div class="section-inner start-page-content">
                <div class="page-header">
                  <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <div class="photo">
                        <img src="{% static 'images/photo.png' %}" alt="">
                      </div>
                    </div>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                      <div class="title-block">
                        <h1>Hossein Ghorbanzadeh</h1>
                        <div class="owl-carousel text-rotation">                                    
                          <div class="item">
                            <div class="sp-subtitle">ERP Specialist</div>
                          </div>
                          <div class="item">
                            <div class="sp-subtitle">Web Developer</div>
                          </div>
                          <div class="item">
                            <div class="sp-subtitle">Python Programmer</div>
                          </div>
                        </div>
                      </div>

                      <div class="social-links">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="page-content">
                  <div class="row">

                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="about-me">
                        <div class="block-title">
                          <h3>About <span>Me</span></h3>
                        </div>
                        <p class="text-justify"> My name is Hossein. I hold a Ph.D. in Computer Software Engineering and currently work in the petrochemical industry. 
                          I specialize in designing and implementing industrial ERP systems, including CMMS, data loggers, and HSE platforms. 
                          I am proficient in several Python frameworks such as Django for web development, 
                          TensorFlow for machine learning, and Flask for lightweight applications.
                        </p>
                      </div>
                      <div class="download-resume">
                        <a href="" class="btn btn-secondary">Download Resume</a>
                      </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <ul class="info-list">
                        <li><span class="title">Residence</span><span class="value">IRAN</span></li>
                        <li><span class="title">Industry</span><span class="value">Petrochemical</span></li>
                        <li><span class="title">Address</span><span class="value">Assaluyeh, ,Bushehr , Iran</span></li>
                        <li><span class="title">E-mail</span><span class="value"><a href="mailto:email@example.com">h.ghorbanzadeh@mekpco.com</a></span></li>
                        <li><span class="title">Phone</span><span class="value">+989166417234</span></li>
                        <li><span class="title">Freelance</span><span class="value available">Available</span></li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </section>
            <!-- End of Home Subpage -->

            <!-- Resume Subpage  -->
            <!--class="pt-page"-->
            
              <section class="pt-page" data-id="about" style="display: {% if section == 'about' %}block{% else %}none{% endif %};">
              <div class="section-inner custom-page-content">
                <div class="page-header color-1">
                  <h2>Resume</h2>
                </div>
                <div class="page-content">

                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="block">
                        <div class="block-title">
                          <h3>Education</h3>
                        </div>

                        <div class="timeline">
                          <!-- Education 1 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Ph.D. in Computer Software Engineering</h4>
                            <span class="item-period">2021 </span>
                            <span class="item-small">Sanandaj Islamic Azad Uni.</span>
                            <p class="item-description">I graduated in 2021 from Islamic Azad University, Sanandaj Branch.</p>
                          </div>
                          <!-- / Education 1 -->

                          <!-- Education 2 -->
                          <div class="timeline-item">
                            <h4 class="item-title">M.Sc. in Computer Software Engineering</h4>
                            <span class="item-period">2012</span>
                            <span class="item-small">Bushehr Islamic Azad Uni.</span>
                            <p class="item-description">I graduated in 2012 from Islamic Azad University, Bushehr Branch.</p>
                          </div>
                          <!-- / Education 2 -->

                          <!-- Education 3 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Computer Engineering – Software</h4>
                            <span class="item-period">2006</span>
                            <span class="item-small">Tabriz Nabi Akram Uni </span>
                            <p class="item-description">I graduated in 2006 from Nabi Akram University, Tabriz.</p>
                          </div>
                          <!-- / Education 3 -->
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="block">
                        <div class="block-title">
                          <h3>Experience</h3>
                        </div>

                        <div class="timeline">
                          <!-- Experience 1 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Findustrial ERP</h4>
                            <span class="item-period">Sep 2023 – Present </span>
                            <span class="item-small">MEKPCO</span>
                            <p class="item-description">Implementation of HR modules, customized forms and workflows, and generation of diverse reports across various modules.
                            </p>
                          </div>
                          <!-- / Experience 1 -->

                          <!-- Experience 2 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Artificial Intelligence</h4>
                            <span class="item-period">October 2016 – October 2021</span>
                            <span class="item-small">Islamic Azad University</span>
                            <p class="item-description"> I analyzed data mining and neural networks concepts, followed by simulations using diverse Python libraries.</p>
                          </div>
                          <!-- / Experience 2 -->

                          <!-- Experience 3 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Backend Web Developer</h4>
                            <span class="item-period">Sep 2020 – Present</span>
                            <span class="item-small">Freelance.</span>
                            <p class="item-description">Develop web applications using Django, Flask, and FastAPI frameworks.</p>
                          </div>
                          <!-- / Experience 3 -->
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="block">
                        <div class="block-title">
                          <h3> Analysis & Deployment <span>Skills</span></h3>
                        </div>

                        <div class="skills-info">
                          <h4>Data Logger Setup</h4>                                
                          <div class="skill-container">
                            <div class="skill-percentage skill-1"></div>
                          </div>

                          <h4>CMMS Configuration & Customization</h4>
                          <div class="skill-container">
                            <div class="skill-percentage skill-2"></div>
                          </div>

                          <h4>HSE & PSM Setup</h4>
                          <div class="skill-container">
                            <div class="skill-percentage skill-3"></div>
                          </div> 
                        </div>

                      </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="block">
                        <div class="block-title">
                          <h3>Coding <span>Skills</span></h3>
                        </div>

                        <div class="skills-info">
                          <h4>Python Fundamentals Mastery</h4>                                  
                          <div class="skill-container">
                            <div class="skill-percentage skill-4"></div>
                          </div>

                          <h4>Backend Development (Django & Flask)</h4>
                          <div class="skill-container">
                            <div class="skill-percentage skill-5"></div>
                          </div>

                          <h4>Python TensorFlow for AI</h4>
                          <div class="skill-container">
                            <div class="skill-percentage skill-6"></div>
                          </div> 
                        </div>
                        
                      </div>
                    </div>
                  </div>

                  <!-- Download Resume Button -->
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <div class="block">
                        <div class="center download-resume">
                          <a href="#" class="btn btn-secondary">Download Resume</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End of Download Resume Button -->

                </div>
              </div>
            </section>
            <!-- End of Resume Subpage -->


            <!-- Services Subpage -->
              <section  class="pt-page" data-id="services"  style="display: {% if section == 'services' %}block{% else %}none{% endif %};">
                <div class="section-inner custom-page-content">
                  <div class="page-header color-1">
                    <h2>Services</h2>
                  </div>
                  <div class="page-content">
                    <!-- My Services -->
                    <div class="row">
                      <div class="col-sm-12 col-md-12">
                        <div class="block-title">
                          <h3>My <span>Services</span></h3>
                        </div>
                      </div>
  
                      <div class="col-sm-6 col-md-3">
                        <div class="service-block"> 
                          <div class="service-info">
                            <!--<i class="service-icon fa fa-shopping-cart"></i>-->
                            <div class="service-image">
                              <img src="{% static 'images/service/web_design_icon.png' %}" alt="Responsive Design" class="mCS_img_loaded">
                            </div>
                            <h4>Web Design</h4>
                            <p>Form-based and REST API development using Django, Flask, and FastAPI.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <div class="service-block"> 
                          <div class="service-info">
                            <div class="service-image">
                              <img src="{% static 'images/service/TechnicalTraining.png' %}" alt="Photography" class="mCS_img_loaded">
                            </div>
                            <h4>Technical Training</h4>
                            <p>Training in data mining, neural networks, TensorFlow, Python, Excel, SPSS, Linux.</p>
                          </div>
                        </div>
                      </div>
  
                      <div class="col-sm-6 col-md-3">
                        <div class="service-block"> 
                          <div class="service-info">
                            <div class="service-image">
                              <img src="{% static 'images/service/TechnicalConsulting.png' %}" alt="Creativity" class="mCS_img_loaded">
                            </div>
                            <h4>Technical Consulting</h4>
                            <p>Consulting companies and individuals to find quality, cost-effective software vendors.</p>
                          </div>
                        </div>
                      </div>
  
                      <div class="col-sm-6 col-md-3">
                        <div class="service-block"> 
                          <div class="service-info">
                            <div class="service-image">
                              <img src="{% static 'images/service/Researcher.png' %}" alt="Advetising" class="mCS_img_loaded">
                            </div>
                            <h4>Researcher</h4>
                            <p>Dynamic complex network analysis with strong problem-solving skills.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End of My Services -->
                    
                  </div>
                </div>
            </section>
            <!-- End of Services Subpage -->



            <!-- Blog Subpage -->
           
              <!--class="pt-page"-->
              <section class="pt-page" data-id="blog" style="display: {% if section == 'blog' %}block{% else %}none{% endif %};">
                <div class="section-inner custom-page-content">
                  <div class="page-header color-1">
                    <h2>Blog</h2>
                  </div>
                  <div class="page-content">
              
                    <!-- Blog Posts Grid -->
                    <div class="blog-masonry two-columns">
                      {% for post in posts %}
                      <div class="item">
                        <div class="blog-card">
              
                          <div class="media-block">
                            <a href="{% url 'blogpage:single' pid=post.id %}">
                              <img class="post-image img-responsive" src="{{ post.image.url }}" alt="">
                              <div class="mask"></div>
                              <div class="post-date">
                                <span class="day">{{ post.published_date|date:"d" }}</span>
                                <span class="month">{{ post.published_date|date:"M" }}</span>
                                <span class="year">{{ post.published_date|date:"Y" }}</span>
                              </div>
                            </a>
                          </div>
              
                          <div class="post-info">
                            <ul class="category">
                              <li>
                                {% for cat in post.category.all %}
                                  <a href="{% url 'blogpage:category' cat_name=cat.name %}">{{ cat.name }}</a>
                                  {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                              </li>
                            </ul>
              
                            <a class="blog-item-title" href="{% url 'blogpage:single' pid=post.id %}">
                              <h3>{{ post.title|truncatewords:5|safe }}</h3>
                            </a>
                          </div>
              
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    <!-- End of Blog Posts Grid -->
              
                    <!-- Pagination -->
                    <nav aria-label="Page navigation">
                      <ul class="pagination justify-content-center">
              
                        {% if posts.has_previous %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">&laquo;</span>
                          </li>
                        {% endif %}
              
                        {% for num in posts.paginator.page_range %}
                          {% if posts.number == num %}
                            <li class="page-item active">
                              <span class="page-link">{{ num }}</span>
                            </li>
                          {% else %}
                            <li class="page-item">
                              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
              
                        {% if posts.has_next %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">&raquo;</span>
                          </li>
                        {% endif %}
              
                      </ul>
                    </nav>
                    <!-- End Pagination -->
              
                  </div>
                </div>
              </section>
              
   
            <!-- /Blog Subpage -->

            <!-- Contact Subpage -->
            
              <section  class="pt-page" data-id="contact"  style="display: {% if section == 'contact' %}block{% else %}none{% endif %};">
              <div class="section-inner custom-page-content">
                <div class="page-header color-1">
                  <h2>Contact</h2>
                </div>
                <div class="page-content">

                  <div class="row">
                    <div class="col-sm-6 col-md-6">
                      <div class="block-title">
                        <h3>Get in <span>Touch</span></h3>
                      </div>
                      <!-- Google Map -->
                      <div id="map" class="map"></div>
                      <!-- End of Google Map -->

                      <div class="contact-info-block">
                        <div class="ci-icon">
                          <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="ci-text">
                          <h5>Assaluyeh, ,Bushehr , Iran</h5>
                        </div>
                      </div>
                      <div class="contact-info-block">
                        <div class="ci-icon">
                          <i class="fa fa-envelope"></i>
                        </div>
                        <div class="ci-text">
                          <h5>h.ghorbanzadeh@mekpco.ir</h5>
                        </div>
                      </div>
                      <div class="contact-info-block">
                        <div class="ci-icon">
                          <i class="fa fa-phone"></i>
                        </div>
                        <div class="ci-text">
                          <h5>+989166417234</h5>
                        </div>
                      </div>
                      <div class="contact-info-block">
                        <div class="ci-icon">
                          <i class="fa fa-check"></i>
                        </div>
                        <div class="ci-text">
                          <h5>Freelance Available</h5>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                      <div class="block-title">
                        <h3>Contact <span>Form</span></h3>
                      </div>
                      <form  action="{% url 'blog:contact' %}" method="post">
                        <div class="messages"></div>
                        {% csrf_token %}
                        <!-- پیام‌ها -->

                        <!-- Modal پیام -->
                          <div id="message-modal" style="display:none; position: fixed; top: 50%; left: 50%;
                        transform: translate(-50%, -50%); background: #fff; padding: 20px 30px; border-radius: 8px;
                        box-shadow: 0 2px 10px rgba(0,0,0,0.3); z-index: 10000; min-width: 250px; text-align: center;">

                        <p id="modal-text" style="margin-bottom: 20px;"></p>
                        <button id="modal-close" style="padding: 5px 15px; border:none; background:#007bff; color:white; border-radius: 4px; cursor:pointer;">
                           OK
                        </butto                           n>
                        </div>

                        <script>
                        {% if messages %}
                            const modal = document.getElementById('message-modal');
                            const modalText = document.getElementById('modal-text');

                            {% for message in messages %}
                               modalText.innerText = "{{ message }}";
                            {% endfor %}

                            modal.style.display = "block";

                            document.getElementById('modal-close').onclick = function() {
                                modal.style.display = "none";
                          }
                        {% endif %}
                        </script>

                     
                        <div class="controls">
                          <div class="form-group form-group-with-icon">
                            <i class="fa fa-user"></i>
                            <label>Full Name</label>
                            <input id="form_name" type="text" name="name" class="form-control" placeholder required="required" data-error="Name is required.">
                            <div class="form-control-border"></div>
                            <div class="help-block with-errors"></div>
                          </div>

                          <div class="form-group form-group-with-icon">
                            <i class="fa fa-envelope"></i>
                            <label>Email Address</label>
                            <input id="form_email" type="email" name="email" class="form-control" placeholder required="required" data-error="Valid email is required.">
                            <div class="form-control-border"></div>
                            <div class="help-block with-errors"></div>
                          </div>

                          <div class="form-group form-group-with-icon">
                            <i class="fa fa-pencil fa-fw subject"></i>
                           
                            <label>Subject</label>
                            <input id="form_name" type="text" name="subject" class="form-control" placeholder required="required" data-error="Name is required.">
                            <div class="form-control-border"></div>
                            <div class="help-block with-errors"></div>
                          </div>

                          <div class="form-group form-group-with-icon">
                            <i class="fa fa-comment"></i>
                            <label>Message for Me</label>
                            <textarea id="form_message" name="message" class="form-control" placeholder rows="4" required="required" data-error="Please, leave me a message."></textarea>
                            <div class="form-control-border"></div>
                            <div class="help-block with-errors"></div>
                          </div>

                         

                          
                          <button type="submit" class="button btn-send"  style="float: right;">Send Message</button>
                          <div class="pb-3">
                            {{form.captcha}}
                          </div>
                        </div>
                      </form>
                    

                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Contact Subpage -->

          </div>
        </div>
        <!-- /Page changer wrapper -->
      </div>
      <!-- /Main Content -->
    </div>
{% endblock %}
    
